In [1]:
import  sys
print("\nPython Version {}".format(sys.version_info))

Python Version sys.version_info(major=3, minor=8, micro=3, releaselevel='final', serial=0)

### Q (1) Python Basics

### 1)	What is a lambda function in Python? Give an example

### 2)	How do you remove both trailing and leading white spaces from the following strings in Python?

In [3]:
Str1 = '  Great Learning – Data Science Engineering course   '

In [4]:
Str1.strip()

'Great Learning – Data Science Engineering course'

### 3) Are the output from both the functions, multi1 and multi2 are same?

In [5]:
def multi1(val1 = 1, val2 = 2, val3 = 3, val4 = 4):
          return val1*val2**val3

def multi2(val1 = 1, val2 = 3, val3 = 2, val4 = 1):
          return (val1*val2)**val3
    
print("\nmulti1 function output is {}".format(multi1(val1 = 2, val3 = 3)))
print("\nmulti2 function output is {}".format(multi2(val1 = 2, val3 = 3)))

multi1 function output is 16

multi2 function output is 216

### 4) Do you think list1 and list1_copy are equal?

In [ ]:
list1             =  ['a', [1, 2, 3, 4, 5], 'z', 0]
list1_copy        =  list1.copy()
list1_copy[1][1]  =  9

if  list1         == list1_copy:
    print("\nTwo lists are identical")
else:
    print("\nTwo lists are not identical")    

print(list1, list1_copy)

### 5) Do you think list1 and list1_copy are equal?

In [ ]:
import copy

list1             =  ['a', [1, 2, 3, 4, 5], 'z', 0]
list1_copy        =  copy.deepcopy(list1)
list1_copy[1][1]  =  9

if  list1         == list1_copy:
    print("\nTwo lists are identical")
else:
    print("\nTwo lists are not identical.")    

print(list1, list1_copy)

### 6) Do you think the following is a valid Python statement?

In [ ]:
in = 2

In [ ]:
on, __init__ = 3, 0

### 7) Using a less common function, create an iterator of tuples 
res = [('z', 0),('y',1),('x',2),('w',3),('v',4)]

In [ ]:
str_list =  ['z', 'y', 'x', 'w', 'v']
int_list =  range(6)

## Using a single function, create a list as follows
##res = [('z', 0),('y',1),('x',2),('w',3),('v',4)]

### 8) Get the numeric portion of the following string using Python

In [ ]:
amt_des = 'My earnings per month is Rs.250000'

### 9)  What is the output of the following codes?

In [6]:
import  numpy  as np
list(map(lambda x: np.sqrt(x), [4, 9, 16, 25, 36, 49]))

[2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [ ]:
val = 20
print("\nUsage of continue")
while val > 0:
           val  -= 1
           if val == 15:
               continue
           print("Value is " ,end = "\t") 
           print(val)
print("End of Run")

In [ ]:
val = 20
print("\nUsage of pass")
while val > 0:
           val  -= 1
           if val == 15:
              pass
           print("Value is" ,end = "\t") 
           print(val)
print("End of Run")

In [ ]:
i = 10
while i  > 0:
          i -= 3
          print('*', end = '')
          if i <= 2:
              break
else:
         print('*')

In [7]:
def esc(code):
    '''
    f-strings are string literals that have an f at the beginning and curly braces containing expressions
    that will be replaced with their values.
    
    Most common ANSI escape sequences take the following form:
    \033[{}m or 0

    We use the Code for non-printable escape character is \033
    m is the character code in either upper case or lower case character
    0 is one or more numbers separated with ;
    Explanation for the expression that will be replaced by their values
    
    Select Graphic Rendition (SGR) parameters sets display attributes arranged in the same sequence separated by semicolons
    to establish GRAPHIC RENDITION COMBINATION MODE (GRCM) .
    
     Code  Meaning
     ----  --------
     30    Black color
     31    Red color
     32    Green color

      1    Bold or increased intensity
      2    Decreased intensity
      4    Underline
      
    https://en.wikipedia.org/wiki/ANSI_escape_code  
    http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-048.pdf

    '''
    return f'\033[{code}m'
    
def  bold_text(text, color = 'R'):
      '''
      This function converts the given text into bold and underlined text in the given color
      '''
      if color == 'B':
         cd = '30;1;4'
      elif color == 'R':
         cd = '31;1;4'
      elif  color == 'G':
         cd =  '32;1;4'
         
      return esc(cd)+ text + esc(0)

In [8]:
print(bold_text('Hi Monish', 'R'))
print('Hi Monish')

Hi Monish
Hi Monish

In [9]:
First_name  =  ['Arya','Isha','Praveen','Gina','Dhanis','Deepti','Durvik','Aslesha','Durvik','Saranya']
Last_name   =  ['F','E','K','T','M','J','X','T','R','O']

In [10]:
import      random, string

Last_name   =  []
Age         =  []
Gender      =  []
Income      =  []

for i in range (10):
    Last_name.append(random.choice(random.choice(string.ascii_uppercase)))
    Age.append(str(random.choice(list(range(21, 66)))))
    Gender.append(random.choice(['M', 'F']))
    Income.append(str(round(float(random.random()) * 100000,0)))

### 10) Pandas dataframes

#### a. Create a dictionary, my_dict in Python using the lists, First_name, Last_name, Age, Gender and Income

In [ ]:
my_dict =

In [17]:
my_dict     =  {'First Name' : First_name, 'Last_name' : Last_name, 'Age' : Age, 'Gender' : Gender, 'Income' : Income}

In [18]:
import pandas  as  pd
my_df   =  pd.DataFrame(my_dict)

In [19]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  10 non-null     object
 1   Last_name   10 non-null     object
 2   Age         10 non-null     object
 3   Gender      10 non-null     object
 4   Income      10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [ ]:
my_df['Age'] = my_df['Age'].

#### b.	How do you get the keys of this dictionary, my_dict?

In [ ]:
my_dict.keys()

#### c.	How do you get the values of this dictionary, my_dict?

### Q(2) - Pandas dataframe

### a. Create a data frame, my_df using the dictionary, my_dict

In [11]:
import   pandas    as    pd

In [12]:
print(bold_text("\nPandas version","G"))
print(pd.__version__)

Pandas version
1.0.5

In [ ]:
my_df  =  pd.DataFrame(my_dict)

#### b. How do you get the number of rows and columns of this data frame, my_df

In [ ]:
my_df.shape

In [ ]:
my_df.info()

In [ ]:
my_df['Income']  = list(map(float,my_df['Income']))

#### c. How do you get the count, top, unique and frequent attributes of the data frame, my_df using describe()?

####  Convert Age and Income to numeric variables

In [ ]:
my_df.info()

In [ ]:
print("\nData types \n\n{}".format(my_df.dtypes))

In [ ]:
my_df['Age'] = my_df[str('Age')]

In [ ]:
print("\nData types \n\n{}".format(my_df.dtypes))

In [ ]:
my_df.Age     =   my_df.Age.astype('int64')

In [ ]:
print("\nData types \n\n{}".format(my_df.dtypes))

#### d. How do you get the frequency count of the variable, Gender?

In [ ]:
my_df['Gender'].value_counts()

### Q(3) - Create a csv file from Pandas dataframe, my_df and omit index values

In [13]:
import os
print("\nCurrent working directory {}".format(os.getcwd()))

Current working directory D:\GL_DSE_Interview

#### Q(4) - Visualization using Box plots
##### a. Read the csv file created now and store it as my_df1

In [14]:
import  pandas  as  pd
my_df1  =  pd.read_csv('my_df.csv')

In [15]:
my_df1.columns

Index(['First Name', 'Last_name', 'Age', 'Gender', 'Income'], dtype='object')

In [16]:
my_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  10 non-null     object
 1   Last_name   10 non-null     object
 2   Age         10 non-null     int64
 3   Gender      10 non-null     object
 4   Income      10 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

##### b. Draw boxplot for Income grouped by Gender, a categorical variable using seaborn

In [ ]:
import  seaborn           as  sns
import  matplotlib.pyplot as  plt

plt.show()

In [ ]:
import  seaborn           as  sns
import  matplotlib.pyplot as  plt

#### Q(5) - Visualization -- Draw Histogram along with Kernel Density Estimate (KDE) plots using Seaborn

### END