## Basic Python test

In [1]:
import  sys
print("\nPython Version {}".format(sys.version_info))

Python Version sys.version_info(major=3, minor=8, micro=3, releaselevel='final', serial=0)

### Q(1)  Create an iterator of tuples using a less common function. For example, we need a list 
[(z, 0), (y,1) .. ]

In [2]:
str_list =  ['z', 'y', 'x', 'w', 'v']
int_list =  range(6)

### Q(2)  What is the output from the following code?

In [ ]:
import  numpy  as np
list(map(lambda x: np.sqrt(x), [4, 9, 16, 25, 36, 49]))

### Q(3) Pandas describe() funtion is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values. How do you make it to include categorical variables also?

In [3]:
import      random, string

import      pandas    as    pd

First_name  =  ['Arya','Isha','Praveen','Gina','Dhanis','Deepti','Durvik','Aslesha',\
                'Durvik','Saranya']
Last_name   =  []
Age         =  []
Gender      =  []
Income      =  []

for i in range (10):
    Last_name.append(random.choice(random.choice(string.ascii_uppercase)))
    Age.append(str(random.choice(list(range(21, 66)))))
    Gender.append(random.choice(['M', 'F']))
    Income.append(str(round(float(random.random()) * 100000,0)))

In [4]:
my_dict       =   {'First Name' : First_name, 'Last_name' : Last_name, 'Age' : Age, 'Gender' : Gender, 'Income' : Income}
my_df         =   pd.DataFrame(my_dict)
my_df.Age     =   my_df.Age.astype('int64') 
my_df.Income  =   my_df.Income.astype('float')
my_df.Gender  =   my_df.Gender.astype('category')

In [5]:
my_df.describe()

             Age        Income
count  10.000000     10.000000
mean   51.100000  36097.900000
std     9.746224  22976.433267
min    33.000000   3513.000000
25%    50.000000  16811.000000
50%    52.000000  36817.500000
75%    58.750000  51740.000000
max    61.000000  74712.000000

### Q(4) How do you get the frequency count of the variable, Gender?

### Q(5) Draw boxplot for Age grouped by Gender, a categorical variable using seaborn.

### Q(6) Validate an email addresses in df['Email'] in the following Python code using regular expression.

In [6]:
import  re
import  pandas  as  pd

df      =   pd.DataFrame({'Email' : ['axx@abc.in', 'sbc@gmail.com', 'abcd']})

### Q(7)  What is the output from the following python code?

In [ ]:
def fun(a = 5, b = 2, c):
        res = a * (b * c)
        return res
ans = fun(1, 4, 5)
print("\nAnswer = {}".format(ans))

### Q(8)  How do you replace the missing values with 999 in the following pandas dataframe, df_NA?

In [7]:
import  pandas  as  pd
import  numpy   as  np

df_NA   =  pd.DataFrame({'Patient ID' : ['102', '110', '130', np.nan ],\
                         'Name' : ['Akhila S', 'Bhaskar E', 'Chandar S', 'David L']})
print(df_NA.info())
print(df_NA)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Patient ID  3 non-null      object
 1   Name        4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes
None
  Patient ID       Name
0        102   Akhila S
1        110  Bhaskar E
2        130  Chandar S
3        NaN    David L

### END